.DS_Store
.claude/settings.local.json
bkg-1.png
bkg-1-optimized.jpg
bkg-2.png
bkg-3.png
bkg-4.png
bkg-5.png
bkg-6.png
bkg-6-optimized.png
bkg-7.png
bkg-bk1.png
bkg-faq.png
Inner Meaning.png
Inner Meaning (1).png
exemp-1.png
exemp-2.png
exemp-3.png
img-ali-1.jpeg
info-1.png
info-11.png
insp-4.png
insp-5.png
